.file-container {
  font-size: 13pt;
  color: #4d4d4d;

  .file-overlay {
    z-index: 10;
    background-color: rgba(0, 0, 0, .7);
  }

  .file-wrapper {
    width: 70vw;
    height: 80vh;
    max-height: 500px;
    min-height: 400px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #e9ecef;
    z-index: 20;

    .file-input {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 10;
      opacity: 0;

      &--active + .file-content {
        background: #e3e5e8;
      }

      &--active + .file-content .file-icon {
        opacity: .5;
      }

      &--active + .file-content .file-icon i {
        animation-name: bounce;
        animation-duration: .6s;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
      }

      &--active + .file-content .file-icon .icon-shadow {
        animation-name: shrink;
        animation-duration: .6s;
        animation-iteration-count: infinite;
      }
    }

    .file-content {
      border: 8px dashed rgba(73, 80, 87, .6);
      transition: .2s;

      .file-infos {
        min-width: 400px;
        min-height: 202px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        .file-icon {
          color: rgba(73, 80, 87, .6);
          background-color: #f1f1f1;
          box-shadow: inset 0px 0px 6px 0px #ccc;
          transition: .2s;

          .icon-shadow {
            width: 95px;
            height: 7px;
            background-color: #e3e5e8;
            top: -17px;
          }

          & > span {
            bottom: 20px;
            width: calc(100% - 20px * 2);

            span {
              display: none;
            }

            .has-drag {
              display: inline;
            }
          }

          i, span {
            text-transform: uppercase;
          }
        }
      }
      .file-name {
        left: 0;
        bottom: 0;
        right: 0;
        font-size: 11pt;
      }
    }
  }
}

.z-20{
  z-index: 20;
}

.h-16{
  height: 16vh;
}

.sending-container {
  left: 45%;
  bottom: 80px;
  right: 0;
  font-size: 15pt;
}

.box {
  height:50px;
  width:40px;
  animation: box 5s infinite linear;
}

.border {
  background:rgba(73, 80, 87, .6);
}

.border.one {
  height:4px;
  top:0;
  left:0;
  animation: border-one 5s infinite linear;
}

.border.two {
  top:0;
  right:0;
  height:100%;
  width:4px;
  animation: border-two 5s infinite linear;
}

.border.three {
  bottom:0;
  right:0;
  height:4px;
  width:100%;
  animation: border-three 5s infinite linear;
}

.border.four {
  bottom:0;
  left:0;
  height:100%;
  width:4px;
  animation: border-four 5s infinite linear;
}

.line {
  height:4px;
  background:rgba(73, 80, 87, .6);
  position:absolute;
  width:0%;
  left:25%;
}

.line.one {
  top:25%;
  width:0%;
  animation: line-one 5s infinite linear;
}

.line.two {
  top:45%;
  animation: line-two 5s infinite linear;
}

.line.three {
  top:65%;
  animation: line-three 5s infinite linear;
}

@keyframes border-one {
  0%   {width:0;}
  10%  {width:100%;}
  100% {width:100%;}
}

@keyframes border-two {
  0%   {height:0;}
  10%  {height:0%;}
  20%  {height:100%;}
  100% {height:100%;}
}

@keyframes border-three {
  0%   {width:0;}
  20%  {width:0%;}
  30%  {width:100%;}
  100% {width:100%;}
}

@keyframes border-four {
  0%   {height:0;}
  30%  {height:0%;}
  40%  {height:100%;}
  100% {height:100%;}
}

@keyframes line-one {
  0%   {left:25%;width:0;}
  40%  {left:25%;width:0%;}
  43%  {left:25%;width:50%;}
  52%  {left:25%;width:50%;}
  54%  {left:25%;width:0% }
  55%  {right:25%;left:auto;}
  63%  {width:10%;right:25%;left:auto;}
  100% {width:10%;right:25%;left:auto;}
}

@keyframes line-two {
  0%   {width:0;}
  42%  {width:0%;}
  45%  {width:50%;}
  53%  {width:50%;}
  54%  {width:0% }
  60%  {width:50%}
  100% {width:50%;}
}

@keyframes line-three {
  0%   {width:0;}
  45%  {width:0%;}
  48%  {width:50%;}
  51%  {width:50%;}
  52%  {width:0% }
  100% {width:0%;}
}

@keyframes box {
  0%   {opacity:1;margin-left:0px;height:50px;width:40px;}
  55%  {margin-left:0px;height:50px;width:40px;}
  60%  {margin-left:0px;height:35px;width:50px;}
  74%  {msthin-left:0;}
  80%  {margin-left:-50px;opacity:1;}
  90% {height:35px;width:50px;margin-left:50px;opacity:0;}
  100% {opacity:0;}
}
@keyframes bounce {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes shrink {
 0% {
    width: 95px;
 }

 50% {
    width: 75px;
 }

 100% {
    width: 95px;
 }
}
