@media (min-width: 1000px) and (max-width: 1280px) {
  .navbar_buttons {
    padding-right: 0px !important;
  }

  .navbar_button {
    margin-right: 0.5rem !important;
  }

  .navbar_icon {
    margin-left: 0rem !important;
  }
}
