.text-sapphire {
  color: #1C326E;
}
.mindmap-title {
  resize: none !important;
  font-size: 15px;
  background: transparent;
}
.mindmap-title:hover {
  cursor: pointer !important;
}
.mindmap-title:focus {
  background: white !important;
  border-radius: 5px;
  cursor: auto !important;
  padding-left: 5px;
}
.text-wrapper {
  background: #fafafa;
  border-radius: 0.35rem;
  padding: 5px;
  border:lightgray solid 1px;
  min-width: 250px;
  font-size: 1.25rem;

}
