<% if resource.errors.any? %>
  <div id="error_explanation">
    <% resource.errors.full_messages.each do |message| %>
      <div class="text-danger mb-1 alert ">
        <a href="#" data-dismiss="alert" class="close">×</a>
        <%= message %>
      </div>
    <% end %>
  </div>
<% end %>
