.parentTree {
  overflow-y: auto !important;
  overflow-x: auto !important;
  height: calc(100vh - 86px) !important;
}
.parentComponent {
  overflow-y: auto !important;
  overflow-x: auto !important;
  height: calc(100vh - 86px) !important;
  margin-top: -11% !important;
}
.rich-media-node {
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: flex-center;
  justify-content: center;
  color: white;
  background-color: #EBECF0;
  border-radius: 4px;
}
.node-slot{
  text-align: center;
}
.position-arrow{
  color: lightblue;
}
.z-index{
  z-index: 1;
}
.mt-7{
  margin-top: 8rem !important;
}
#treeChartObj {
  border-top: none !important
}
