production:
  adapter: mysql2
  database: mindmap_developmennt
  host:
  username:
  password:
  encoding: utf8

development:
  adapter: mysql2
  database: mindmap_developmennt
  host:
  username:
  password:
  encoding: utf8
  pool: 25

staging:
  adapter: mysql2
  database: mindmap
  host:
  username:
  password:
  encoding: utf8
  pool: 25
