.rotate-180 {
  transform: rotate(180deg);
}
.sidebar {
  height: 80vh;
}

.rounded-0.whiteboard-btns{
  background-color: rgb(53, 54, 58); 
  color: #fff;
}
.rounded-0.whiteboard-btns:hover{
  background-color: rgb(87, 89, 95) ;
  color: #fff;
}