#calendar{
    height:70vh;
  }
  #options{
    padding: 6px 1px 1px 1px;
    background-color:MediumSeaGreen;
    float: left;
  }
  .material-icons{
    cursor: pointer;
  }
  .popover{
    width: 45vh;
  }
