<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head_items' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render 'layouts/navbar' %>
    <% end %>
    <%= yield %>
  </body>
</html>
